node-red/flows.json
[{"id":"4a463085.4b2a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"257a9003.aad1d","type":"tls-config","name":"TLS","cert":"/etc/ssl/client/client.crt","key":"/etc/ssl/client/client.key","ca":"/etc/ssl/ca.crt","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"35ea3d9f.b8a2f2","type":"mqtt-broker","name":"broker-secure","broker":"broker-secure","port":"8883","tls":"257a9003.aad1d","clientid":"admin","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"238ead95.80beea","type":"Stackhero-MySQL-Server","name":"mariadb-mqtt-data","host":"mariadb","port":"3306","tls":false,"database":"mqtt-data"},{"id":"daae3eaa.ef2ff8","type":"debug","z":"4a463085.4b2a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"20330106.a0f3f6","type":"mqtt in","z":"4a463085.4b2a48","name":"","topic":"/test/temperature","qos":"2","datatype":"auto","broker":"35ea3d9f.b8a2f2","x":230,"y":240,"wires":[["daae3eaa.ef2ff8"]]},{"id":"3856842b.56d75c","type":"Stackhero-MySQL","z":"4a463085.4b2a48","server":"238ead95.80beea","name":"mariadb","x":800,"y":340,"wires":[["eafd7259.2a6368"]]},{"id":"ae7c0911.036b7","type":"function","z":"4a463085.4b2a48","name":"","func":"msg.topic = 'INSERT INTO `temperature` (value) VALUES (:temp);';\nmsg.payload = { temp: '26' };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["3856842b.56d75c"]]},{"id":"8d466ca3.d87be","type":"inject","z":"4a463085.4b2a48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":340,"wires":[["ae7c0911.036b7"]]},{"id":"eafd7259.2a6368","type":"debug","z":"4a463085.4b2a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"96a84783.91e26","type":"mqtt in","z":"4a463085.4b2a48","name":"","topic":"/test/humidity","qos":"2","datatype":"json","broker":"35ea3d9f.b8a2f2","x":230,"y":180,"wires":[["2084f2cd.6dbed6","e48ce591.ac55c"]]},{"id":"2084f2cd.6dbed6","type":"debug","z":"4a463085.4b2a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":180,"wires":[]},{"id":"e48ce591.ac55c","type":"function","z":"4a463085.4b2a48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":80,"wires":[[]]}]