node-red/flows.json
[{"id":"4a463085.4b2a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"257a9003.aad1d","type":"tls-config","name":"TLS","cert":"/etc/ssl/client/client.crt","key":"/etc/ssl/client/client.key","ca":"/etc/ssl/ca.crt","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"35ea3d9f.b8a2f2","type":"mqtt-broker","name":"broker-secure","broker":"broker-secure","port":"8883","tls":"257a9003.aad1d","clientid":"admin","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"238ead95.80beea","type":"Stackhero-MySQL-Server","name":"mariadb-mqtt-data","host":"mariadb","port":"3306","tls":false,"database":"mqtt-data"},{"id":"20330106.a0f3f6","type":"mqtt in","z":"4a463085.4b2a48","name":"","topic":"/test/temperature","qos":"2","datatype":"json","broker":"35ea3d9f.b8a2f2","x":230,"y":240,"wires":[["69f8b98c.2fe4b8"]]},{"id":"3856842b.56d75c","type":"Stackhero-MySQL","z":"4a463085.4b2a48","server":"238ead95.80beea","name":"mariadb","x":820,"y":180,"wires":[["eafd7259.2a6368"]]},{"id":"eafd7259.2a6368","type":"debug","z":"4a463085.4b2a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"96a84783.91e26","type":"mqtt in","z":"4a463085.4b2a48","name":"","topic":"/test/humidity","qos":"2","datatype":"json","broker":"35ea3d9f.b8a2f2","x":230,"y":120,"wires":[["e08ad431.d00be8"]]},{"id":"e08ad431.d00be8","type":"function","z":"4a463085.4b2a48","name":"humidity","func":"msg.topic = 'INSERT INTO `humidity` (value) VALUES (:hum);';\nmsg.payload = { hum: msg.payload.value };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["3856842b.56d75c"]]},{"id":"69f8b98c.2fe4b8","type":"function","z":"4a463085.4b2a48","name":"temperature","func":"msg.topic = 'INSERT INTO `temperature` (value) VALUES (:temp);';\nmsg.payload = { temp: msg.payload.value };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["3856842b.56d75c"]]},{"id":"7f81c585.e61b9c","type":"mqtt out","z":"4a463085.4b2a48","name":"virtual thing humidity","topic":"/test/humidity","qos":"","retain":"","broker":"35ea3d9f.b8a2f2","x":660,"y":400,"wires":[]},{"id":"6bf44fa7.2978b8","type":"mqtt out","z":"4a463085.4b2a48","name":"virtual thing temperature","topic":"/test/temperature","qos":"","retain":"","broker":"35ea3d9f.b8a2f2","x":660,"y":500,"wires":[]},{"id":"33f03660.76243a","type":"inject","z":"4a463085.4b2a48","name":"temperature 23","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"value\": 23 }","payloadType":"json","x":270,"y":500,"wires":[["6bf44fa7.2978b8"]]},{"id":"29188619.94fb7a","type":"inject","z":"4a463085.4b2a48","name":"humidity 76","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"value\": 76 }","payloadType":"json","x":270,"y":400,"wires":[["7f81c585.e61b9c"]]}]